<html ng-app="jna">

<script src="./lib/jquery.min.js"></script>
<script src="./lib/angular.min.js"></script>
<script>
	var app = angular.module('presentation', []);

	app.controller('MusicController', function($scope) {
		console.log('Music  controller');
		$scope.question = 'Your favourite song?';

		$scope.acdc = 'Back in black';
		$scope.eminem = 'Loose yourself';

		$scope.resolveYourTypeOfMusic = function($music) {
			var type = '';
			if ($scope.mySong == 'Back in black') {
				type = "Rock";
			}
			else {
				type = "Hip hop";
			}

			$scope.usersStyle = type;
		}
	});

	app.controller('LoopController', function($scope) {
			console.log('Loop Controller');
			$scope.teachers = [
			    {firstname: 'Robert', lastname: 'Halx'},
			    {firstname: 'John', lastname: 'Roll'},
			    {firstname: 'Irene', lastname: 'Roberts'},
			 ];

			 $scope.deleteTeacher = function(name) {
			 	for (var i = $scope.teachers.length - 1; i >= 0; i--) {
			 		if ($scope.teachers[i].firstname == name) {
			 			$scope.teachers[i] = null;
			 		}
			 	};
			 };

	});

	app.controller('SVGCtrl', function($scope) {
	  var shift = 135;
	  $scope.circle = { r:130, x: shift, y: shift };

	  function update() {
	    $scope.date = new Date();       

	    var sec = $scope.date.getSeconds()  + $scope.date.getMilliseconds()/1000;
	    var min = $scope.date.getMinutes() + $scope.date.getSeconds()/60;
	    var h = $scope.date.getHours()%12 + $scope.date.getMinutes()/60;

	    $scope.sec = { x: shift + 100 * Math.cos(sec/60 * Math.PI * 2 - Math.PI/2),
	                   y: shift + 100 * Math.sin(sec/60 * Math.PI * 2 - Math.PI/2)};
	    $scope.min = { x: shift + 100 * Math.cos(min/60 * Math.PI * 2 - Math.PI/2),
	                   y: shift + 100 * Math.sin(min/60 * Math.PI * 2 - Math.PI/2)};
	    $scope.hour = { x: shift + 40 * Math.cos(h/12 * Math.PI * 2 - Math.PI/2),
	                    y: shift + 40* Math.sin(h/12 * Math.PI * 2 - Math.PI/2)};

	    window.setTimeout(function() {$scope.$apply(update)}, 100);
	  }       
	  update();
	});

	app.directive('myButton', function () {
	  return {
	    restrict: 'E',
	    template: '<input id="inputTest">',
	  }});

	app.directive('myDirective', function() {
		return {
	    restrict: 'E',
	    template: '<td>{{teacher.firstname}}</td><td>{{teacher.lastname}}</td>',
	 }});

	app.directive('myDirectiveButton', function () {
	  return {
	    restrict: 'E',
	    scope: {
	      myMessage: '@message',
	      myModel: '=model',
	      myAction: '&action',
	    },
	    template: '<input class="form-control" type="text" ng-model="myModel">\
	   <button type="button" class="btn" ng-click="myAction()">{{myMessage}}</button>',
	  }});

	app.controller('SayHelloController', function($scope) {
	  $scope.sayHello = function() {
			alert('Hello');
	  }
	});

	app.directive('myTeacher', function () {
	  return {
	    restrict: 'E',
	    scope: {
	      myMessage: '@message',
	      myModel: '=model',
	      myAction: '&action',
	    },
	    template: '<td>{{myModel.firstname}}</td><td>{{myModel.lastname}}</td>',
	  }});
</script>

<body>

	<div id="teacher" ng-controller="LoopController">
		<tr ng-repeat="teacher in teachers">
		    <my-teacher  model="teacher" ></my-teacher>
		 </tr>
	</div>

	<div id="scopedButton" ng-controller="SayHelloController">
		<my-directive-button message="I'm a button!" model="anyVar" action="sayHello()"></my-directive-button>

		AnyVar: {{anyVar}}
	</div>

	<div ng-controller="SVGCtrl">
		<svg width="280" height="280" xmlns="http://www.w3.org/2000/svg" version="1.1">
		  <circle ng-attr-cx="{{circle.x}}" ng-attr-cy="{{circle.y}}"
		  ng-attr-r="{{circle.r}}" style="stroke:#7D7D7D;fill:#EBEBEB"></circle>
		  <line ng-attr-x1="{{circle.x}}" ng-attr-y1="{{circle.y}}" ng-attr-x2="{{sec.x}}"
		  ng-attr-y2="{{sec.y}}" style="stroke:#E16969;stroke-width:1"></line>
		  <line ng-attr-x1="{{circle.x}}" ng-attr-y1="{{circle.y}}" ng-attr-x2="{{min.x}}"
		  ng-attr-y2="{{min.y}}" style="stroke:#E16969;stroke-width:5"></line>
		  <line ng-attr-x1="{{circle.x}}" ng-attr-y1="{{circle.y}}" ng-attr-x2="{{hour.x}}"
		  ng-attr-y2="{{hour.y}}" style="stroke:#E16969;stroke-width:5"></line>
		</svg>
</div>

	<table ng-controller="LoopController">
	  <tr ng-repeat="teacher in teachers">
	    <td>{{teacher.firstname}}</td><td>{{teacher.lastname}}</td><td><button class="btn" ng-click="deleteTeacher(teacher.firstname)" >delete</button></td>
	  </tr>
	</table>

	<div ng-controller="MusicController">
		<select class="form-control" ng-click="resolveYourTypeOfMusic()" ng-model="mySong">
		  <option value="Back in black">{{acdc}}</option>
		  <option value="Loose yourself">{{eminem}}</option>
		</select>
		<p>Style: {{usersStyle}}</p>
	</div>

	<h1 style="display: none;" lang="de">Einfache Bindings
	  {{demo}}</h1>
	<h1 lang="en">Simple bindings {{demo}}</h1>
	<div style="display: none;" lang="de">AngularJS ermöglicht ein Templating direkt im
	  Browser.</div>
	<div lang="en">AngularJS utilizes templating in the browser.</div>
	<p>Demo: {{demo}}</p>
	<input class="form-control" ng-model="demo" type="text">

	<input ng-model="state" ng-true-value="'enabled'" ng-false-value="'disabled'"
	  ng-init="state='enabled'" type="checkbox">
	<p>State: {{state}}</p>
	<select class="form-control" ng-model="state">
	  <option value="enabled">enabled</option>
	  <option value="disabled">disabled</option>
	</select>
	<h3 ng-if="state == 'enabled'">AngularJS is cool!</h3>

	<button class="btn" ng-click="myStyle={color:'red',
	  'font-weight':'bold'}">red</button>
	<button class="btn" ng-click="myStyle={'color':'blue'}">blue</button>
	<span ng-style="myStyle">Sample text, myStyle={{myStyle}}</span> 	

</body>
